<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        <table>
            <tr>
                <th>Desc</th>
                <th><input type="text" name="desc"></th>
            </tr>
            <tr>
                <th>Replay</th>
                <th><input type="text" name="replay"></th>
            </tr>
            <tr>
                <th>Datetime</th>
                <th><input type="datetime" name="datetime"></th>
            </tr>
            <tr>
                <th colspan="2"><input type="submit" name="submit"></th>
            </tr>
        </table>
    </form>
</body>
</html> -->