<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for i in data['up']%}
    <form method="post">
        <table>
            <tr>
                <th>First Name</th>
                <th><input type="text" name="fname" value="{{data['up'][0]['first_name']}}"></th>
            </tr>
            <tr>
                <th>Last Name</th>
                <th><input type="text" name="lname" value="{{data['up'][0]['last_name']}}"></th>
            </tr>
            <tr>
                <th>Qualification</th>
                <th><input type="text" name="quali" value="{{data['up'][0]['Qualification']}}"></th>
            </tr>
        <tr>
            <th>Gender</th>
            <th><input type="radio" name="Gender" value="Male">Male <input type="radio" name="Gender" value="Female">Female</th>
        </tr>
        <tr>
            <th>Phone</th>
            <th><input type="number" name="Phone" value="{{data['up'][0]['Phone']}}"></th>
        </tr>
        <tr>
            <th>Email</th>
            <th><input type="email" name="mail" value="{{data['up'][0]['Email']}}"></th>
        </tr>
        <tr>
            <th>House Name</th>
            <th><input type="text" name="house_name" value="{{data['up'][0]['house_name']}}"></th>
        </tr>
        <tr>
            <th>Place</th>
            <th><input type="text" name="Place" value="{{data['up'][0]['Place']}}"></th>
        </tr>
            <th colspan="2"><input type="submit" name="submit"></th>
        </tr>
    </table>
    </form>
    {%endfor%}
</body>
</html> -->